/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
	// colors
    --color--bg: #4C4C4C;
        // primary colors
        --color-primary-dblue: #0f162d;
        --color-primary-pink: #ca59ff;
        --color-primary-mblue: #6c7cff;
        --color-primary-lblue: #2affff;
        --color-primary-yellow: #fff629;
        // secondary colors
        --color-secondary-white: #ffffff;
        --color-secondary-dblue: #272D42;
        --color-secondary-black: #000000;
}
